* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.countrymaindiv{
 width: 100%;
flex-wrap: wrap;
display: flex;
align-items: center;
justify-content: space-evenly;
 height: 100%;
}

.countrysubdiv{
    border: 2px solid #000;
    width: 400px;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 3vw;
    margin-bottom:60px;
    height: 300px;
}